@font-face {
  font-family: '钉钉进步体';
  src: url('钉钉进步体.ttf') format('truetype');
}

@font-face {
  font-family: '得意黑';
  src: url('得意黑.ttf') format('truetype');
}

@font-face {
  font-family: 'Ma Shan Zheng';
  src: url('马善政书法.ttf') format('truetype');
}

@font-face {
  font-family: 'LeeFont蒙黑体';
  src: url('LeeFont蒙黑体.ttf') format('truetype');
}

@font-face {
  font-family: '齐心英语体';
  src: url('齐心英语体.ttf') format('opentype');
}